@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  transition: all 300ms ease;
}

:root {
  --color-primary: #088273;
  --color-secondary: #f2f3f8;
  --color-gray: #f1f2f7;
  --color-gray-dark: rgb(134, 134, 134);
  --color-black: #1f1f1f;
  --color-black-light: #303030;

  --primary-font-family: "Josefin Sans", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
}

body {
  background: var(--color-secondary);
}
p {
  font-family: var(--secondary-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font-family);
}

h3 {
  font-size: 1.5em;
}

/* NAV */

nav a {
  font-family: var(--primary-font-family);
  color: var(--color-gray-dark);
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
}

nav a.active {
  color: var(--color-black);
}
nav a:hover {
  color: var(--color-black-light);
}
nav {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 200px 2fr 1fr 150px 100px;
  height: 5em;
}
nav ul li {
  display: inline-block;
  padding: 0 1em;
}
nav i {
  color: var(--color-black);
}
nav ul {
  list-style: none;
}
/* NAV [end] */

/* CARD */
.card {
  -webkit-box-shadow: -26px 36px 118px -64px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: -26px 36px 118px -64px rgba(0, 0, 0, 0.31);
  box-shadow: -26px 36px 118px -64px rgba(0, 0, 0, 0.31);
  background-color: white;
  border-radius: 1em;
  padding: 2em;
  display: grid;
  align-items: center;
  grid-template-areas:
    "sub-left sub-right"
    "heading  stats"
    "account  stats"
    "buttons  .";
}
.card__subheading {
  font-size: 0.9rem;
  color: var(--color-gray-dark);
  padding: 1em 0;
}
.card__subheading--left {
  grid-area: sub-left;
}
.card__subheading--right {
  grid-area: sub-right;
  text-align: right;
}
.card__heading {
  grid-area: heading;
  margin: 0;
}
.card__account {
  grid-area: account;
  font-size: 1.2rem;
  padding: 0.2em 0;
  color: var(--color-gray-dark);
}
.card__stat {
  grid-area: stats;
  font-size: 2em;
  text-align: right;
}
.card__dollar {
  color: var(--color-gray-dark);
}
.card__btns {
  grid-area: buttons;
  padding: 1.2em 0;
}
a.card__btn {
  display: inline-block;
  padding: 0.9em 1.3em;
  font-family: var(--primary-font-family);
  border-radius: 0.6em;
  margin: 0 0.5em;
}
a.card__btn--primary {
  background-color: var(--color-primary);
  color: white;
  margin-left: -0.5em;
}
a.card__btn--secondary {
  background-color: var(--color-gray);
}
.card--primary {
  background: var(--color-primary);
  color: white;
}
/* CARD [end] */

.top-card {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-gap: 2em;
  padding: 2em;
}
