@import url("https://fonts.googleapis.com/css2?family=Alata&family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-secondary: #f1f2f7;
  --color-orange: #fe9669;
  --color-purple: #6631c1;
  --color-light-red: #eb9f9e;
  --color-yellow: #e5b773;
  --color-dark-blue: #298be0;
  --color-light-blue: #dff4fb;
  --color-dark-black: #0e0e0e;
  --color-medium-black: #111111;
  --color-light-black: #7b7b80;
  --primary-font: "Alata", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --heading-height: 80px;
  --normal-padding: 1.5em;
  --normal-box-shadow: -2px 6px 100px -63px rgba(112, 112, 112, 0.39);
  --color-green: #15ac7f;
}

p {
  font-family: var(--secondary-font);
  line-height: 27px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
}

body {
  background: #ffd4cb;
  scroll-behavior: smooth;
}

.wrapper {
  margin: 40px;
  border-radius: 20px;
  -webkit-box-shadow: var(--normal-box-shadow);
  -moz-box-shadow: var(--normal-box-shadow);
  box-shadow: var(--normal-box-shadow);
  overflow: hidden;
  background: var(--color-secondary);
  display: grid;
  grid-template-columns: 6fr 2fr;
  grid-template-areas:
    "heading sidebar"
    "body sidebar";
  grid-template-rows: var(--heading-height) 1fr;
  min-height: 100vh;
}

nav {
  grid-area: heading;
  display: grid;
  padding: 0 1.5em;
  grid-template-columns: 2fr 3fr 4fr;
  align-items: center;
}
nav input[type="text"] {
  padding: 0.9em 1em;
  padding-left: 2.5em;
  border: none;
  outline: none;
  color: var(--color-dark-black);
  border-radius: 0.5em;
  font-size: 1em;
  -webkit-box-shadow: var(--normal-box-shadow);
  -moz-box-shadow: var(--normal-box-shadow);
  box-shadow: var(--normal-box-shadow);
}
nav .search-box {
  position: relative;
}
nav .search-box i {
  position: absolute;
  left: 0.8em;
  top: 0.9em;
}
nav a {
  text-decoration: none;
  color: var(--color-light-black);
  font-family: var(--primary-font);
  transition: all 300ms ease;
}
nav a:hover {
  color: var(--color-dark-black);
}
nav a.active {
  color: var(--color-dark-black);
}
nav .navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

section.body {
  padding: 1.5em;
  grid-area: body;
}

/* WALLET-HEADING */
.wallet-heading {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "wallet calendar";
}
.wallet {
  grid-area: wallet;
  display: grid;
  grid-template-columns: 65px 1fr;
  align-items: center;
  grid-template-areas:
    "icon heading"
    "icon paragraph";
}
.wallet i {
  grid-area: icon;
  color: var(--color-orange);
}
.wallet h3 {
  grid-area: heading;
  color: var(--color-dark-blue);
  align-self: center;
}
.wallet p {
  grid-area: paragraph;
  font-weight: bold;
  color: var(--color-light-black);
  font-size: 0.9em;
}
.wallet-heading .dropdown {
  cursor: pointer;
  -webkit-box-shadow: var(--normal-box-shadow);
  -moz-box-shadow: var(--normal-box-shadow);
  box-shadow: var(--normal-box-shadow);
  display: grid;
  justify-self: flex-end;
  align-items: center;
  background: white;
  padding: 1em;
  border-radius: 0.7em;
  grid-template-columns: 30px 1fr 20px;
  color: var(--color-light-black);
}
.dropdown i.fa-caret-down {
  justify-self: flex-end;
}

section.sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
  grid-area: sidebar;
  background-color: white;
  -webkit-box-shadow: var(--normal-box-shadow);
  -moz-box-shadow: var(--normal-box-shadow);
  box-shadow: var(--normal-box-shadow);
  display: grid;
  grid-template-rows: var(--heading-height) 1fr 1fr;
  grid-template-areas:
    "heading"
    "wallets"
    "categories";
}
section.sidebar .nav-line {
  grid-area: heading;
  justify-self: flex-end;
  align-self: center;
  display: flex;
  align-items: center;
}
section.sidebar .nav-line i {
  font-size: 1.1em;
  color: var(--color-light-black);
}
section.sidebar .nav-line img {
  height: 40px;
  width: 40px;
  border-radius: 0.7em;
  margin: 10px;
  margin-left: 20px;
  object-fit: cover;
}

.categories,
.wallets {
  display: grid;
  padding: var(--normal-padding);
  grid-template-rows: 35px 1fr;
  grid-template-areas:
    "heading plus"
    "wallet-wr  wallet-wr";
}

.categories > i,
.wallets > i {
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: 1px dashed var(--color-light-black);
}

.categories .wallet-wrapper,
.wallets .wallet-wrapper {
  grid-area: wallet-wr;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.wallet-wrapper .wallet {
  margin: 0.6em 0;
}
.wallet-wrapper .wallet h3 {
  font-size: 16px;
}

.categories > h3,
.wallets > h3 {
  grid-area: heading;
}
.categories > i,
.wallets > i {
  justify-self: end;
  grid-area: plus;
}

.categories h3,
.wallets h3 {
  color: var(--color-dark-black);
}

.wallet-wrapper .wallet i {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

i.purple {
  background: var(--color-purple);
}
i.orange {
  background: var(--color-orange);
}
i.green {
  background: var(--color-green);
}
i.yellow {
  background: var(--color-yellow);
}
i.red {
  background: var(--color-light-red);
}
i.blue {
  background: var(--color-light-blue);
  color: var(--color-dark-blue) !important;
}

/* WALLET-DATASET */
.wallet-dataset {
  display: grid;
  grid-template-columns: 70px 1fr 80px 60px 60px;
  grid-template-areas:
    "icon heading dollar delete cross"
    "icon sub     dollar delete cross";
  align-items: center;
  padding: 0.8em 1.5em;
  background-color: white;
  margin: 1.3em 0;
  border-radius: 15px;
  -webkit-box-shadow: var(--normal-box-shadow);
  -moz-box-shadow: var(--normal-box-shadow);
  box-shadow: var(--normal-box-shadow);
}
.wallet-dataset i {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
}
.wallet-dataset i.icon {
  grid-area: icon;
}
.wallet-dataset h3 {
  grid-area: heading;
}
.wallet-dataset p.date {
  grid-area: sub;
  color: var(--color-light-black);
}
.wallet-dataset p.money {
  grid-area: dollar;
  font-weight: bold;
}
.wallet-dataset i.fa-trash {
  grid-area: delete;
}
.wallet-dataset i.fa-times {
  grid-area: cross;
}

.wallet-data-heading {
  display: grid;
  grid-template-columns: 1fr 300px 200px;
  padding-top: 1.8em;
}
.wallet-data-heading h2 {
  font-size: 1.3em;
}
.wallet-data-heading p {
  text-align: right;
  font-weight: bold;
  color: var(--color-light-black);
}
