@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-secondary: #f3f6fd;
  --color-black: #2d2e31;
  --color-orange: #fee4cb;
  --color-red: #ffd3e2;
  --color-green: #baf3d2;
  --color-light-gray: #a3a6ad;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-secondary);
  min-height: 100vh;
  display: grid;
  grid-template-columns: 90px 6fr 4fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "header header   header"
    "side   projects message";
}

nav {
  grid-area: header;
}

.sidemenu {
  grid-area: side;
}
.projects {
  grid-area: projects;
  background-color: white;
  border-radius: 30px;
}
.client-messages {
  grid-area: message;
}

/* NAVBAR DESIGN */
nav {
  position: sticky;
  top: 0;
  display: grid;
  background: var(--color-secondary);
  grid-template-columns: 90px 2fr 8fr 3fr;
  justify-items: center;
  padding: 10px 0;
}

nav .left-menu a {
  font-size: 27px;
  color: var(--color-black);
}
nav .left-menu {
  justify-items: center;
}

nav .heading {
  font-size: 2rem;
}

nav .search-box {
  position: relative;
}
nav input {
  padding: 15px 20px 15px 40px;
  border-radius: 20px;
  border: none;
  min-width: 25em;
}
nav input:focus {
  border: none;
  outline-width: 0;
}
nav .search-box i {
  position: absolute;
  left: 10px;
  top: 15px;
}
nav .user {
  display: flex;
  align-items: center;
}
nav .user img {
  height: 35px;
  width: 35px;
  margin-right: 10px;
  border-radius: 50%;
}
nav .right {
  margin-right: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
nav .right .icons {
  display: flex;
  justify-content: space-around;
  border-right: 1px solid #ccc;
  margin-right: 10px;
}
nav .right .icons a {
  color: var(--color-black);
}
/* NAVBAR DESIGN [END] */

/* SIDEBAR MENU ICONS */
.sidemenu a {
  color: var(--color-black);
  font-size: 25px;
  height: 57px;
  width: 57px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidemenu a.active {
  background-color: var(--color-black);
  color: white;
}
.sidemenu {
  position: sticky;
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/* SIDEBAR MENU ICONS [END] */

/* CLIENT MESSAGES */
.client-messages .cm-heading {
  display: grid;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  grid-template-columns: 1fr 50px;
  border-bottom: 1px solid var(--color-light-gray);
  padding-bottom: 10px;
  position: sticky;
  top: 67px;
  background-color: var(--color-secondary);
}
.client-messages .cm-heading > div {
  display: flex;
  justify-content: space-around;
}
.client-messages .cm-heading > div a {
  color: var(--color-light-gray);
}
.client-messages .message {
  display: grid;
  grid-template-columns: 70px 1fr 40px;
  grid-template-areas:
    "img head star"
    "img text text"
    ".   date date";
  padding: 2em 1em;
  align-items: center;
  margin: 10px;
  transition: all 300ms ease;
  cursor: pointer;
}

.client-messages .message h3 {
  grid-area: head;
}
.client-messages .message i.fa-star {
  grid-area: star;
  text-align: right;
  color: var(--color-light-gray);
}
.client-messages .message:hover {
  background-color: white;
  -webkit-box-shadow: 0px 26px 98px -59px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 26px 98px -59px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 26px 98px -59px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
}
.client-messages .message p {
  font-size: 0.9rem;
  line-height: 27px;
}
.client-messages .message p:first-child {
  grid-area: text;
}
.client-messages .message p:last-child {
  grid-area: date;
  text-align: right;
}
.client-messages .message img {
  grid-area: img;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
/* CLIENT MESSAGES [END] */

/* PROJECTS */
.projects {
  padding: 2em;
}
.projects .projects-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.projects .projects-heading h4 {
  color: var(--color-light-gray);
}
.projects .stats-heading {
  display: grid;
  grid-template-columns: 1fr 100px;
}
.projects .stats-heading .stats-card-wrapper {
  display: grid;
  padding-top: 1em;
  grid-template-columns: repeat(4, 1fr);
}
.projects .stats-heading .stats-card-wrapper h3 {
  font-size: 1.4rem;
}
.projects .stats-heading .stats-card-wrapper h4 {
  font-size: 0.9rem;
  color: var(--color-light-gray);
}
.projects .stats-heading .icon {
  text-align: right;
  font-size: 1.3em;
}
.projects .stats-heading .icon a {
  color: var(--color-black);
  padding: 0.3em;
  display: inline-block;
}

/* BIG CARD */
.big-card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  padding: 2em 0;
}
.big-card-wrapper .big-card {
  background-color: white;
  padding: 2em;
  border-radius: 2em;
  -webkit-box-shadow: 0px 26px 98px -59px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 26px 98px -59px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 26px 98px -59px rgba(0, 0, 0, 0.75);
}
.big-card {
  display: grid;
  grid-template-columns: 1fr 120px;
  grid-template-areas:
    "date     ellipsis"
    "heading  heading "
    "subhead  subhead "
    "progress ."
    "progbar  progbar"
    ".        percentage"
    "img      tag";
}
.big-card .date {
  grid-area: date;
  font-size: 0.9em;
}
.big-card i.fa-ellipsis-v {
  grid-area: ellipsis;
  text-align: right;
}
.big-card h3 {
  margin: 0.7em 0 0 0;
  line-height: 30px;
  grid-area: heading;
  text-align: center;
}
.big-card h4 {
  grid-area: subhead;
  text-align: center;
  font-weight: normal;
  font-size: 0.7em;
}
.big-card .progress {
  grid-area: progress;
  font-size: 0.9em;
}
.big-card .outer {
  grid-area: progbar;
  height: 5px;
  margin: 0.7em 0;
  background-color: #f1f1f1;
  border-radius: 3px;
}
.big-card .outer .inner {
  height: 5px;
  width: 20%;
  border-radius: 3px;
  background-color: aqua;
}
.big-card .percentage {
  grid-area: percentage;
  text-align: right;
  font-weight: bold;
  margin-bottom: 10px;
}
.big-card .images {
  grid-area: img;
}
.big-card .images img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: -15px;
  cursor: pointer;
  border: 2px solid white;
}
.big-card .images img:hover {
  z-index: 2;
  transform: scale(1.1);
}
.big-card .images img:first-child {
  margin-left: 0;
}

.big-card p.tag {
  margin-top: 1em 0;
  grid-area: tag;
  background: #ddf5fb;
  color: #77cbd2;
  display: flex;
  border-radius: 1em;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  font-size: 0.8em;
  align-self: center;
  align-items: center;
  padding: 0.5em 0;
}
.big-card.orange {
  background: var(--color-orange);
}
.big-card.red {
  background: var(--color-red);
}
.big-card.green {
  background: var(--color-green);
}
/* BIG CARD [end] */
